# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs

# Build related
artifacts/**
tools/**
!tools/packages.config*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Publish
PublishProfiles
ServiceDependencies

# Visual Studio 2015 cache/options directory
.vs/
.vscode/
.dotnet/
*.stackdump

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*


# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# DotCover is a Code Coverage Tool
*.dotCover

# Click-Once directory
publish/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

# Windows
Thumbs.db
tools

\.idea/

/BDKahoot.API/appsettings.Local.json